@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
#__next,
body {
  min-height: 100%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #020617;
}
